{% extends "base.html" %}
{% block title %}
Board | MyApp
{% endblock %}
{% block content %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
<ul style="width:100%" class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">top</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'post' %}">post</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'goods' %}">good</a>
    </li>
    <li class="nav-item nav-link fw-bold text-primary">
        logined: "{{login_user}}"
    </li>
</ul>
</nav>

<div class="container">
    <div>
        {% endblock %}
    </div>
    <div>
        {% block header %}
        {% endblock %}
    </div>

    <div class="my-3 text-center">
        <span class="font-weight-bold"><a href="/admin/logout?next=/myapp/">[ logout ]</a></span>
        <span class="float-right">copyright 2025 TANAKA-Taro</span>
    </div>
</div>